body {
  font-family: Roboto;
  background-color: #f6f3ff;
}
footer,
#time-zone {
  display: block;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.wrap {
  border: 1px solid;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  border-color: grey;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form,
.row {
  padding-top: 0px;
  margin-top: 0px;
}
h1 {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#time-zone,
select {
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 22px;
  border-radius: 8px;
  margin-top: 2px auto;
  font-family: Roboto;
}

select {
  width: 100%;
}

.col {
  margin: 20px;
  font-size: 18px;
}

.time {
  font-size: 28px;
  font-family: Roboto 300;
}

.city {
  font-size: 24px;
  font-family: Roboto 400;
}

.date {
  color: rgb(54, 54, 54);
}
.row {
  border-bottom: 1px dotted grey;
}

.location {
  font-size: 26px;
}
